* {
	box-sizing: border-box;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 500px;
  width:100%;
  margin-top: 5px;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:640px;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

.panel-heading {
  font-size: 24px;
}

.btn {
  font-size: 24px;

}

.title-container {
	width: 100%;
	padding: 0;
}

.logo {
	width: 100%;
	padding: 0;
}

.title{
	margin-top: 0;
	padding: 15px 15px;
	background-color: red;
	color: #fff;
  font-size: 32px;
  text-align: center;
}

.row {
	margin: 0 15px;
}

.trucks-list {
	margin: 0;
	width: 100%;
	/*background-color: #9abcf4;*/
	padding: 20px 0;
	text-align: center;
}

.truck-list {
	width: 200px;
	margin: 10px  auto;
	padding: 10px;
	display: inline-block;
}
.truck-list-image-container {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background-color: orange;
	position: relative;
}
.truck-list-image {
	width: 80%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.truck-list-detail {
	padding: 5px;
	border: 2px solid #000;
	border-radius: 10px;
	background-color: #fff;
	text-align: center;
	margin-top: 5px;
}
.truck-list-name {
	font-size: 1.2em;
	font-weight: 700;
}
.search-button, .add-button {
	width: 100%;
	margin-bottom: 10px;
}

.search-description {
  font-size: 18px;
  font-style: italic;
  padding-bottom: 15px;
  padding-top: 15px;
}

label {
  font-size: 18px;
}

input {
  font-size: 14px;
  font-style: italic;
}


.lightbox {
 	display: block; /*tempory */
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

.lightbox-truck {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	height: 70%;
	max-width: 1200px;
}

.lb-foodtruck-image {
	max-width: 500px;
	width: 100%;
}

.lb-foodtruck-detail{
	padding-top: 10px;
}

.yelp-review {
	padding-bottom: 10px;
}

.add-truck-panel {
  padding-top: 20px;
}

*#add-first-street, #add-second-street, #add-date-seen, #add-time-seen {
  width: 100%;
  margin-top: 20px;
}