* {
	box-sizing: border-box;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 500px;
  width:100%;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:640px;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

.title {
	text-align: center;
}