* {
	box-sizing: border-box;
}

#add-first-street, #add-second-street, #add-date-seen, #add-time-seen {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
}

.add-truck-panel {
  padding-top: 20px;
}

.btn {
  font-size: 24px;
}


.btn-dropdown{
	font-size: 14px;
}

.dropdown-input {
  font-size: 14px;
  font-style: italic;
}


input {
  font-size: 14px;
  font-style: italic;
}

label {
  font-size: 18px;
}

.search-intro {
  display: list-item;
  list-style: circle;
  padding-bottom: 5px;
}

.lightbox {
  display: none; /*tempory */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.lightbox-truck {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 70%;
  max-width: 1200px;
}

.logo {
  width: 100%;
  padding: 0;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 500px;
  width:100%;
  margin-top: 5px;
}

.overlay {
   background:transparent;
   position:relative;
   width:640px;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}
.panel-heading {
  font-size: 24px;
}

.row {
  margin: 0 15px;
}

.search-button, .add-button {
  width: 100%;
  margin-bottom: 10px;
}

.search-description {
  font-size: 18px;
  font-style: italic;
  padding-bottom: 15px;
  padding-top: 15px;
}

.title {
  margin-top: 0;
  padding: 15px 15px;
  background-color: red;
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.title-container {
	width: 100%;
	padding: 0;
}

.truck-image-container {
  height: 500px;
  width: 50px;
  margin-top: 5px;
}

.truck-list-cuisine {
  font-size: 14px;
  font-style: italic;
  font-weight: 350px;
}

.truck-list {
  width: 230px;
  margin: 10px  auto;
  padding: 10px;
  display: inline-block;
}

.truck-list-detail {
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: red;
  text-align: center;
  margin-top: 10px;
  color: white;
}

.truck-list-name {
  font-size: 16px;
  font-weight: 700;
}

.truck-list-image {
  border-radius: 80%;
  width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.truck-list-image-container {
	width: 210px;
	height: 210px;
	border-radius: 50%;
  border: 3px solid black;
	background-color: orange;
	position: relative;
}

.trucks-list {
  margin: 0;
  width: 100%;
  /*background-color: #9abcf4;*/
  padding: 20px 0;
  text-align: center;
}

/*styling for the full autocomplete menu*/
.ui-menu{
	background: white;
	width: 20%;
}
/*styling for individual autocomplete options*/
.ui-menu-item{
	border: .25px solid black;
}
.ui-menu-item:hover{
	background:#83D0EF;
}
